{% extends 'admins/layout.html' %}
{% from '_helpers.html' import formInput %}
{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">overview</h2>
                        <a href="{{ url_for('main.splash') }}" class="au-btn btn-success">Back to RSVP Site</a>
                    </div>
                </div>
            </div>
            <div class="row m-t-25">
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c4">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                                <div class="text">
                                    {% set ticketNS = namespace(quantity=0, earnings=0.00) %}
                                    {% for product in products %}
                                    {% if product.name[:2] == 't_' %}
                                    {% for order in orders %}
                                    {% if order.productID == product.id %}
                                    {% set ticketNS.quantity = ticketNS.quantity + order.quantity %}
                                    {% set ticketNS.earnings = ticketNS.earnings + (order.quantity * product.price) %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    {% endfor %}
                                    <h2>#{{ ticketNS.quantity }}</h2>
                                    <span>Total Tickets RSVP'd</span>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c4">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </div>
                                <div class="text">
                                    {% set cateringNS = namespace(quantity=0, earnings=0.00) %}
                                    {% for product in products %}
                                    {% if product.name[:2] != 't_' %}
                                    {% for order in orders %}
                                    {% if order.productID == product.id %}
                                    {% set cateringNS.quantity = cateringNS.quantity + order.quantity %}
                                    {% set cateringNS.earnings = cateringNS.earnings + (order.quantity * product.price) %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    {% endfor %}
                                    <h2>#{{ cateringNS.quantity }}</h2>
                                    <span>Food & Drink Sold</span>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c4">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-money"></i>
                                </div>
                                <div class="text">
                                    <h2>${{ (cateringNS.earnings + ticketNS.earnings)|round(2) }}</h2>
                                    <span>Total Estimated Earnings</span>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c4">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-calendar-note"></i>
                                </div>
                                <div class="text">
                                    <h2>#{{ totalTransactions }}</h2>
                                    <span>Total Transactions</span>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <h2 class="title-1 m-b-25">Earnings By Items</h2>
                    <div class="table-responsive table--no-card m-b-40">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th class="text-right">Vendor</th>
                                    <th class="text-right">Quantity</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                {% set productNS = namespace(quantity=0, earnings=0.00) %}
                                <tr>
                                    <!-- Total Earnings and Quantity -->
                                    {% for order in orders %}
                                    {% if order.productID == product.id %}
                                    {% set productNS.quantity = productNS.quantity + order.quantity %}
                                    {% set productNS.earnings = productNS.earnings + (order.quantity * product.price) %}
                                    {% endif %}
                                    {% endfor %}

                                    <td>{{ product.id }}</td>
                                    <td class="text-left">{{ product.name|replace('t_', '', 1)|replace('_', ' ') }}</td>
                                    {% for vendor in vendors %}
                                    {% if vendor.id == product.vendorID %}
                                    <td class="text-right">{{ vendor.name }}</td>
                                    {% endif %}
                                    {% endfor %}
                                    {% if product.vendorID == None %}
                                    <td class="text-right">ATC</td>
                                    {% endif %}

                                    <td class="text-right">{{ productNS.quantity }}</td>
                                    <td class="text-right">${{ productNS.earnings|round(2) }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h2 class="title-1 m-b-25">Top Vendors</h2>
                    <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                        <div class="au-card-inner">
                            <div class="table-responsive">
                                <table class="table table-top-countries">
                                    <tbody>
                                        {% for vendor in vendors %}
                                        {% set vendorNS = namespace(earnings=0.00) %}
                                        <tr>
                                            <td>{{ vendor.name }}</td>
                                            {% for order in orders %}
                                            {% for product in products %}
                                            {% if order.productID == product.id %}
                                            {% if vendor.id == product.vendorID %}
                                            {% set vendorNS.earnings = vendorNS.earnings + (order.quantity * product.price) %}
                                            {% endif %}
                                            {% endif %}
                                            {% endfor %}
                                            {% endfor %}
                                            <td class="text-right">${{ vendorNS.earnings|round(2) }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2">recent reports</h3>
                            <div class="chart-info">
                                <div class="chart-info__left">
                                    <div class="chart-note">
                                        <span class="dot dot--blue"></span>
                                        <span>products</span>
                                    </div>
                                    <div class="chart-note mr-0">
                                        <span class="dot dot--green"></span>
                                        <span>services</span>
                                    </div>
                                </div>
                                <div class="chart-info__right">
                                    <div class="chart-statis">
                                        <span class="index incre">
                                            <i class="zmdi zmdi-long-arrow-up"></i>25%</span>
                                        <span class="label">products</span>
                                    </div>
                                    <div class="chart-statis mr-0">
                                        <span class="index decre">
                                            <i class="zmdi zmdi-long-arrow-down"></i>10%</span>
                                        <span class="label">services</span>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-report__chart">
                                <canvas id="recent-rep-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="au-card chart-percent-card">
                        <div class="au-card-inner">
                            <h3 class="title-2 tm-b-5">char by %</h3>
                            <div class="row no-gutters">
                                <div class="col-xl-6">
                                    <div class="chart-note-wrap">
                                        <div class="chart-note mr-0 d-block">
                                            <span class="dot dot--blue"></span>
                                            <span>products</span>
                                        </div>
                                        <div class="chart-note mr-0 d-block">
                                            <span class="dot dot--red"></span>
                                            <span>services</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="percent-chart">
                                        <canvas id="percent-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit User Modal -->
    {% if userE == True %}
    <div class="modal fade" id="edituser">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edit User Details</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <!-- body -->
                    <div class="modal-body">
                        <div class="row">
                            {{ formInput(form.forename, placeholder="Enter First Name", grid="col-md-6") }}

                            {{ formInput(form.surname, placeholder="Enter Last Name", grid="col-md-6") }}

                            {{ formInput(form.email, placeholder="Enter Email", grid="col-md-6") }}

                            {{ formInput(form.mobile, placeholder="Enter Mobile", grid="col-md-6") }}

                            <div class="col-md-12"><br></div>

                            {{ formInput(form.password, placeholder="New Password", grid="col-md-6", type="password") }}

                            {{ formInput(form.confirmPassword, placeholder="Confirm New Password", grid="col-md-6", type="password") }}

                            {{ formInput(form.oldPassword, placeholder="Old Password", grid="col-md-10", type="password") }}
                        </div>
                    </div>

                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        {{ form.submit(class="btn btn-success") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>$("#edituser").modal();</script>
    {% endif %}
</div>
{% endblock content %}