{% extends 'layout.html' %}
{% block content %}

<!-- Main -->
<div id="main">

	<!-- One -->
	<section class="wrapper style1"
		style="background-image: url('/static/images/pic12.jpg'); background-position-x: right; background-position-y: 35%; background-size: 115%; height: 100vh; background-repeat: no-repeat;">
		<div class="inner box" style="background-color: #0e3961; width: 30%; left: 25%;">
			<div class="container" style="width: 90%;">
				<form method="POST" action="">
					{{ form.hidden_tag() }}
					<h2 class="align-center">Login</h2>
					<div class="row uniform">

						<!-- Text Inputs -->
						<div class="12u$ 12u$(small)">
							<label for="email" style="font-size: medium;">Email:</label>
							{% if form.email.errors %}
							{{ form.email(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.email(placeholder="Enter Email") }}
							{% endif %}
						</div>

						<div class="12u 12u$(small)">
							<label for="password" style="font-size: medium;">Password:</label>
							{% if form.password.errors %}
							{{ form.password(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							{% else %}
							{{ form.password(placeholder="Enter Password") }}
							{% endif %}
						</div>

						<!-- Checkbox -->
						<div class="6u$ 12u$(small)">
							<!-- <input type="checkbox" id="human" name="human"> -->
							{{ form.remember(type="checkbox") }}
							<label for="remember">Remember Me</label>
						</div>

						<!-- Button -->
						<div class="12u$">
							<input class="button fit" type="submit" value="Login" />
						</div>

						<!-- Forgot Pswd -->
						<div class="12u$">
							<a href="#" class="button alt fit">Forgot Password?</a>
						</div>
						<div></div>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>

{% endblock content %}