{% extends 'layout.html' %}
{% block content %}

<!-- Banner -->
<!--
	To use a video as your background, set data-video to the name of your video without
	its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
	formats to work correctly.
-->
<section id="banner" data-video="/static/images/banner">
	<div class="inner">
		<header>
			<h1>Ambrose Treacy College - Jazz By The River</h1>
			<p>Online RSVP System.<br>Click below to register your attendance!</p>
		</header>
		<a href="#content" class="button big alt scrolly">RSVP</a>
	</div>
</section>

<!-- Main -->
<div>

	<!-- One (id=content) -->
	<section class="wrapper style1">
		<div class="inner">
			<header class="align-center" id="content">
				<h2>RSVP</h2>
				<p>Press below to RSVP, for more information, scroll down!</p>
			</header>
			<!-- 2 Column Picture Section -->
			<div class="video align-center">
				<div class="image fit">
					<img src="/static/images/rsvp.jpg" alt="" />
				</div>
				<a href="{{ url_for('main.rsvp') }}" class="link"><span>Click Me</span></a>
			</div>
			<div class="align-center">
				<a href="#about" class="button big alt scrolly">Event Information</a>
			</div>
		</div>
	</section>


	<!-- About -->
	<section class="wrapper">
		<div class="inner">
			<header class="align-center" id="about">
				<h2>About</h2>
				<p>Jazz By The River is an annual jazz festival that takes place at Ambrose Treacy, a river-side
					college in the brisbane city catchement.</p>
			</header>
			<h4>Available Tickets:</h4>
			<table class="table-wrapper">
				<thead>
					<tr>
						<th>Product</th>
						<th>Description</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
					{% if product.name[:2] == 't_' %}
					<tr>
						<td>{{ product.name[2:]|replace('_', ' ') }}</td>
						<td>{{ product.description }}</td>
						<td>${{ product.price }}</td>
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>

			<h4>Available Catering Options:</h4>
			<table class="table-wrapper">
				<thead>
					<tr>
						<th>Product</th>
						<th>Description</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
					{% if product.name[:2] != 't_' %}
					<tr>
						<td>{{ product.name|replace('_', ' ') }}</td>
						<td style="max-width: 300px; overflow: auto">{{ product.description }}</td>
						<td>${{ product.price }}</td>
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>
			<div class="align-center">
				<a href="#gallery" class="button big alt scrolly">Gallery</a>
			</div>
		</div>
	</section>

</div>

<!-- Gallery -->
<section class="wrapper style2">
	<div class="inner">
		<header id="gallery">
			<h2>Gallery</h2>
			<p>A collection of memories from our previous JBTR
				events!</p>
		</header>

		<!-- Tabbed Picture Section -->
		<div class="flex flex-tabs">
			<ul class="tab-list">
				<li><a href="#" data-tab="tab-1" class="active">Opener</a></li>
				<li><a href="#" data-tab="tab-2">Middle Act</a></li>
				<li><a href="#" data-tab="tab-3">Headline</a></li>
			</ul>
			<div class="tabs">

				<!-- Tab 1 -->
				<div class="tab tab-1 flex flex-3 active">
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic06.jpg" alt="" />
						</div>

					</div>
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic09.jpg" alt="" />
						</div>

					</div>
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic13.jpeg" alt="" />
						</div>

					</div>
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic12.jpg" alt="" />
						</div>

					</div>
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic04.jpg" alt="" />
						</div>

					</div>
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic02.jpg" alt="" />
						</div>

					</div>
				</div>

				<!-- Tab 2 -->
				<div class="tab tab-2 flex flex-3">
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic01.jpg" alt="" />
						</div>

					</div>
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic03.jpg" alt="" />
						</div>

					</div>
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic05.jpg" alt="" />
						</div>

					</div>
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic07.jpg" alt="" />
						</div>

					</div>
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic08.jpg" alt="" />
						</div>

					</div>
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic10.jpg" alt="" />
						</div>

					</div>
				</div>

				<!-- Tab 3 -->
				<div class="tab tab-3 flex flex-3">
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic11.jpg" alt="" />
						</div>

					</div>

					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic14.jpg" alt="" />
						</div>

					</div>
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic15.jpg" alt="" />
						</div>

					</div>
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic16.jpg" alt="" />
						</div>

					</div>
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic17.jpg" alt="" />
						</div>

					</div>
					<!-- Picture Thumbnail -->
					<div class="video col">
						<div class="image fit">
							<img src="/static/images/pic18.jpg" alt="" />
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Footer -->
<footer id="footer">
	<div class="copyright">
		<ul class="icons">
			<li><a href="https://www.facebook.com/ambrosetreacylife/" class="icon fa-facebook"><span
						class="label">Facebook</span></a></li>
			<li><a href="https://www.instagram.com/ambrose_treacy_college/" class="icon fa-instagram"><span
						class="label">Instagram</span></a></li>
		</ul>
		&copy; Website Created by Jake Rennie for Ambrose Treacy College</a>.
	</div>
</footer>

{% endblock content %}