{% macro render_field(name) %}
<div class="form-group">
    {% if kwargs['label'] == True %}
    {{ name.label(style="font-size: mediuml;") }}
    {% endif %}
    {{ name(placeholder=kwargs['placeholder'], class=kwargs['class'], type=kwargs['type'], default=kwargs['default'], max=kwargs['max'], min=kwargs['min'], style=kwargs['style'], value=kwargs['value']) }}
</div>
{% endmacro %}

{% macro formInput(name) %}
<div class="form-group {{ kwargs['grid'] }}">
    {{ name.label() }}
    {% if name.errors %}
    {{ name(class="form-control is-invalid au-input au-input--full") }}
    <div class="invalid-feedback">
        {% for error in name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ name(placeholder=kwargs['placeholder'], class="form-control au-input au-input--full", type=kwargs['type'], step=kwargs['step'], min=kwargs['min'], value=kwargs['value']) }}
    {% endif %}
</div>
{% endmacro %}