{% extends 'layout.html' %}
{% block content %}

<!-- Main -->
<div id="main">
	<section class="wrapper style1">
		<div class="inner">
			<header class="align-center">
				<h2>Admin Page</h2>
			</header>

			<!-- Vendors Present -->
			<h4>Vendors</h4>
			<div class="table-wrapper">
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Mobile</th>
						</tr>
					</thead>
					<tbody>
						{% for vendor in vendors %}
						<tr>
							<td>
								<a href="#">{{ vendor.name }}</a>
							</td>
							<td>
								{{ vendor.email }}
							</td>
							<td>
								{{ vendor.mobile }}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<!-- Register Vendor -->
			<a href="/registerVendor" class="button">Register Vendor</a>

			<!-- Logout -->
			<a href="{{ url_for('users.logout') }}" class="button special">Logout</a>

		</div>
	</section>
</div>

{% endblock content %}