<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>ATC JBTR RSVP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/static/main.css" />
</head>

<body>

	<!-- Header -->
	<header id="header">
		<h1><a href="{{ url_for('main.splash') }}">JBTR <span>RSVP System</span></a></h1>
		<a href="#menu">Menu</a>

		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		<div class="inner box"
			style="background-color: #0e3961cc; max-width: fit-content; max-height: fit-content; margin-top: 1%; margin-left: 1%;">
			{% for category, message in messages  %}
			<span>
				{{ message }}
			</span>
			{% endfor %}
		</div>
		{% endif %}
		{% endwith %}
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="{{ url_for('main.splash') }}">Home</a></li>
			<li><a href="{{ url_for('main.generic') }}">Generic</a></li>
			<li><a href="{{ url_for('main.elements') }}">Elements</a></li>
			{% if current_user.is_authenticated %}
			{% if current_user.administrator == 1 %}
			<li><a href="{{ url_for('admins.panel') }}">Admin Panel</a></li>
			{% else %}
			<li><a href="{{ url_for('vendors.panel') }}">Vendor Panel</a></li>
			{% endif %}
			{% else %}
			<li><a href="{{ url_for('main.login') }}">Login</a></li>
			{% endif %}
		</ul>
	</nav>

	{% block content %} {% endblock content %}


	<!-- Scripts -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/jquery.scrolly.min.js"></script>
	<script src="/static/js/skel.min.js"></script>
	<script src="/static/js/util.js"></script>
	<script src="/static/js/main.js"></script>

</body>

</html>